<html>
<head>
<title>Drive</title>
</head>
<body>
<h1>
Hello, {{request.user}}
<a href="{% url 'logout' %}">logout</a>
</h1>
Add Files
<hr>

<form action = "" method = "POST" enctype = "multipart/form-data">
{% csrf_token %}

{{documentForm.as_p}}
<button type = 'submit' data-action = "add">Submit</button>

</form>

<br><br><br>

All files

<hr>

{% for i in data %}
    <p>
    <a href = "{{i.document.url}}">{{i.document}}</a>
    <a href = "{% url 'delete' i.id %}">delete</a>
    </p>
{% endfor %}

</body>

</html>